@import "variables";

footer#main-footer {
    min-height: 60px;
    padding: 1rem 0;
    border-top: 1px solid rgba(black, 0.1);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

footer#main-footer .copyrights {
    a {
        color: inherit;
        text-decoration: none;
        font-weight: 600;
    }
}
